.absolute-container
{
    position: absolute;
    top: 1.8rem;
    right: -6.8rem;
    width: 250px;
    padding: 1px;
    border-radius: 7px;
    background-color: #FEFEFE;
    border: 1 solid red;
    z-index: 1;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.05));
}

.absolute-container ul{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content:left;
    gap: 10px;
    padding-inline-start: 25px;
}
.relative-container
{
    position: relative;
}
input.project-input-dropdown{
    /* background: url(images/icons/search.png) no-repeat scroll 15px 12px; */
    align-items: center;
    background-size: 1.2em;
    font-weight: 400;
    font-size: .9rem;
    color: rgba(45, 45, 45, 1);
    background: #f0f0f0;
    width: 90%;
    min-width: 180px;
    padding: 4px 15px;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}
.form{
    display: flex;
    flex-direction: column;
    gap: .6rem;
  }
  
.title{
    font-weight: 600;
    padding-bottom: 5px;
}
.create-task-btn{
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-size: 1.2em;
    font-weight: 400;
    font-size: .9rem;
    color: #727272;
    font-size: .9rem;
    background: #f0f0f0;
    width: 20%;
    min-width: 100px;
    padding: 4px 15px;
    border: 0px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 5%;
}
.create-task-btn:active{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .02s;
    transform: scale(1.03);
}

.create-task-btn:hover{
    background-color: rgba(10, 132, 255, 1);
    color: white;
}