@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
  color: rgba(45, 45, 45, 1);
  font-family: 'Inter', sans-serif;
}
::-moz-selection { /* Code for Firefox */
  color: #FEFEFE;
  background: rgba(10, 132, 255, 1);
}

::selection {
  color: #FEFEFE;
  background: rgba(10, 132, 255, 1);
}
body{
  background: rgb(239, 239, 239);
}
.app-wrapper{
  transition: all .2s cubic-bezier(.17,.67,.83,.67);
  padding-top: 40px;
  margin-inline: 25%;
  min-width: 450px;
}
ul{
  padding: 0;
  margin: 0;
}
@media (max-width: 600px) {
  .app-wrapper{
    margin-inline: 5%;
  }
}
li{
  list-style-type: none;
}
strong{
  font-weight: 600;
  font-size: .9rem;
}
.faded{
  font-weight: 500;
  font-size: .9rem;
  color: #727272;
}

/* --------- INPUTS AND BUTTONS --------- */
.project-input{
  background: url(images/icons/search.png) no-repeat scroll 15px 12px;
  align-items: center;
  background-size: 1.2em;
  font-style: normal;
  font-weight: 500;
  font-size: .9rem;
  background-color: #FEFEFE;
  width: 30%;
  min-width: 180px;
  padding: 12px 41px;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.05));
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  gap: 1.5%;
  margin-left: -2px;
}


.button{
  background: url(images/icons/plus.png) no-repeat scroll 10% 50%;
  background-size: 1.2em;
  background-color: #FEFEFE;
  cursor: pointer;
  border-radius: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: .85rem;
  color: rgba(45, 45, 45, 1);
  border: none;
  padding: 13px 12px 13px 36px;
  text-decoration: none;
}
.button:active {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .02s;
    transform: scale(1.05);
  }
/* --------- PROJECT LISTING --------- */
.no-tasks{
  padding-top: 16%;
  gap: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.taskTitle{
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  max-width: 100px;
}
.userName{
  color: rgba(114, 114, 114, 1);
}
.actions{
  display: flex;
}
.action-btn{
  background: none;
  opacity: .55;
  border: none;
  cursor: pointer;
}
.action-btn:hover{
  opacity: .9;
}

input[type="checkbox" i] {
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  border: 0px solid white;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 19px;
  width: 19px;
  outline: none !important;
}

input{
  text-transform: capitalize;
}
input:focus{
  outline: 3px solid rgba(10, 132, 255, 1);
}
.project-container{
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  margin-top: 9px;
  position: relative;
  background-color: #FEFEFE;
  border-radius: 7px;
  width: 50vw;
  min-width: 435px;
  height: 80vh;
  }
.table-info{
  padding-block: 1.5%;
  padding-inline: 5%;
  display: flex;
  align-items: left;
  justify-content: space-between;
  background-color: #FEFEFE;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  border-radius: 7px 7px 0px 0px;
  font-weight: 500;
  font-size: .95rem;
}

.list{
  padding-top: .8%;
  margin: 0;
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  padding-inline: 5%;
  font-weight: 400;
  font-size: .9rem;
  background-color: #FEFEFE;
}

.list-item{
  padding-block: 1%;
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: row;
}
li span{
  width: 100px;
}
.constrainSize{
  min-width: 100px;
}