@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
  color: rgba(45, 45, 45, 1);
  font-family: 'Inter', sans-serif;
}
body{
  background: rgb(239, 239, 239);
}
.app-wrapper{
  padding-top: 5%;
  padding-left: 25%;
}
li{
  list-style-type: none;
}
strong{
  font-weight: 600;
  font-size: .9rem;
}
.faded{
  font-weight: 500;
  font-size: .9rem;
  color: #727272;
}

/* --------- INPUTS AND BUTTONS --------- */
.project-input{
  background: url(images/icons/search.png) no-repeat scroll 15px 12px;
  align-items: center;
  background-size: 1.2em;
  font-style: normal;
  font-weight: 500;
  font-size: .9rem;
  background-color: #FEFEFE;
  width: 30%;
  min-width: 180px;
  padding: 13px 40px;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.05));
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  gap: 1.5%;
}

.button{
  background: url(images/icons/plus.png) no-repeat scroll 10% 50%;
  background-size: 1.2em;
  background-color: #FEFEFE;
  padding-top: 5px;
  cursor: pointer;
  border-radius: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: .85rem;
  color: rgba(45, 45, 45, 1);
  border: none;
  padding: 15px 15px 15px 36px;
  text-decoration: none;
}
.button:active {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .02s;
    transform: scale(1.05);
  }
/* --------- PROJECT LISTING --------- */
.taskTitle{
  padding: 0;
  margin: 0;
  max-width: 100px;
}
.userName{
  color: rgba(114, 114, 114, 1);
}
.actions{
  display: flex;
  gap: .5rem;
}
.action-btn{
  background: none;
  opacity: .55;
  border: none;
  cursor: pointer;
}
.action-btn:hover{
  opacity: .9;
}
input[type="checkbox" i] {
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  right: 35px;
  min-width: 20px;
  border: 0px solid white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input{
  text-transform: capitalize;
}
input:focus{
  outline: 2.9px solid rgba(10, 132, 255, 1);
}
.project-container{
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  margin-top: 1%;
  position: relative;
  background-color: #FEFEFE;
  border-radius: 7px;
  width: 50vw;
  min-width: 320px;
  height: 100vh;
  }
.table-info{
  padding-block: 1.5%;
  padding-inline: 5%;
  display: flex;
  align-items: left;
  justify-content: space-between;
  background-color: #FEFEFE;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  border-radius: 7px 7px 0px 0px;
  font-weight: 500;
  font-size: .95rem;
}

.list{
  padding-top: .1%;
  margin: 0;
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  padding-inline: 5%;
  font-weight: 500;
  font-size: .9rem;
  background-color: #FEFEFE;
}

.list-item{
  padding-block: 1%;
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  flex-direction: row;
}
.constrainSize{
  min-width: 100px;
}